.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.form-row {
    display: flex;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
    flex-direction: row;
}

.cardTitle{
    display: flex;
    justify-content: space-around;
}

.jumbotron {
    box-shadow: none;
    border-radius: 0.125rem;
    background-color: #fff;
}

.col-btn{
    display: flex;
    justify-content: space-around;
}

.row{
    justify-content: center;
}

