.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.form-row {
    display: flex;
    margin-right: -5px;
    margin-left: -5px;
    justify-content: center;
    flex-direction: row;
}
