<div class="jumbotron">
    <mdb-card class="row w-100">
        <!--Card content-->
        <mdb-card-body>

            <!--Title-->
            <mdb-card-title>
                <h2 class="cardTitle">Variables de Control</h2>
            </mdb-card-title>
            <!-- Material auto-sizing form -->
            <form>
                <!-- Grid row -->
                <div class="form-row">
                    <!-- Grid column -->
                    <div class="col-auto">
                        <!-- Material input -->
                        <div class="md-form">
                            <input mdbInput type="number" class="form-control" id="inlineFormInputMD" value={{CI}}
                                #instancias>
                            <label for="inlineFormInputMD">Cantidad Instancias</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-auto">
                        <!-- Material input -->
                        <div class="md-form">
                            <input mdbInput type="number" class="form-control pl-0 rounded-0"
                                id="inlineFormInputGroupMD" value={{THL}} #thl>
                            <label for="inlineFormInputGroupMD">Threshold high lag</label>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-auto">
                        <!-- Material input -->
                        <div class="md-form">
                            <input mdbInput type="number" class="form-control pl-0 rounded-0"
                                id="inlineFormInputGroupMD2" value={{TLL}} #tll>
                            <label for="inlineFormInputGroupMD2">Threshold low lag</label>
                        </div>
                    </div>
                </div>

                <!-- Grid column -->
                <div class="col-btn">
                    <button type="submit" (click)="simulation(instancias.value, thl.value, tll.value)" mdbBtn
                        color="primary" class="mb-0">Simular</button>
                </div>
                <!-- Grid row -->
            </form>


        </mdb-card-body>
    </mdb-card>

    <br>
    <br>
    <!-- Material auto-sizing form -->
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card">
                    <mdb-icon fas icon="plus"></mdb-icon>
                </div>
                <div class="text-danger text-center mt-3">
                    <h4>MYL</h4>
                </div>
                <div *ngIf="isSimulated" class="text-danger text-center mt-2">
                    <h1>{{MYL}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card">
                    <mdb-icon fas icon="minus"></mdb-icon>
                </div>
                <div class="text-success text-center mt-3">
                    <h4>MNL</h4>
                </div>
                <div *ngIf="isSimulated" class="text-success text-center mt-2">
                    <h1>{{MNL}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card">
                    <mdb-icon fas icon="pause"></mdb-icon>
                </div>
                <div class="text-warning text-center mt-3">
                    <h4>TMP</h4>
                </div>
                <div *ngIf="isSimulated" class="text-warning text-center mt-2">
                    <h1>{{TMP}} min</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card">
                    <mdb-icon far icon="clock"></mdb-icon>
                </div>
                <div class="text-info text-center mt-3">
                    <h4>PTP</h4>
                </div>
                <div *ngIf="isSimulated" class="text-info text-center mt-2">
                    <h1>{{PTP}}%</h1>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="chart" *ngIf="isSimulated">
            <canvas mdbChart [chartType]="'bar'" [datasets]="chartDatasets" [labels]="chartLabels"
                [colors]="chartColors">
            </canvas>
        </div>
        <div sclass="chart" *ngIf="isSimulated">
            <canvas mdbChart
                [chartType]="'doughnut'"
                [datasets]="chartDatasetsDoughnut">
            </canvas>
          </div>
    </div>

</div>