<div class="page-wrapper chiller-theme" [ngClass]="{'toggled' : toggle}">
    <a id="show-sidebar" *ngIf="!toggle" class="btn btn-sm btn-dark" (click)="show()">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" *ngIf="toggle" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a><i class="fas fa-server"></i> Settlement Feed</a>
                <div id="close-sidebar">
                    <i class="fas fa-times" (click)="hide()"></i>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a (click)="changeContainer('simulation')">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Simulación</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="changeContainer('doc')">
                            <i class="fas fa-file-alt"></i>
                            <span>Documentación</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="changeContainer('draw')">
                            <i class="fas fa-project-diagram"></i>
                            <span>Diagrama</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div *ngIf="container === 'simulation'" class="container-fluid">
            <app-settlement-feed></app-settlement-feed>
        </div>
        <div *ngIf="container === 'doc'" class="container-fluid">
            <app-documents></app-documents>
        </div>
        <div *ngIf="container === 'draw'" class="container-fluid">
            <app-settlement-feed></app-settlement-feed>
        </div>
    </main>
    <!-- page-content" -->
</div>