<br>
<fieldset>
    <legend><strong>Archivos adjuntos</strong></legend>    
    
    <br><i style="font-size: x-large;" class="far fa-file-word"></i>.docx&nbsp;&nbsp;<a href="assets/Análisis Settlement Feed.docx">Análisis Settlement Feed <i class="fas fa-download"></i></a>
    <br>
    <br><i style="font-size: x-large;" class="far fa-file-word"></i>.docx&nbsp;&nbsp;<a href="assets/Paper Settlement Feed.docx">Settlement Feed Paper <i class="fas fa-download"></i></a>
    <br>
    <br><i style="font-size: x-large;" class="far fa-file-pdf"></i>.pdf&nbsp;&nbsp;<a href="assets/Presentación procesamiento Settlement Feed.pdf" target="_blank">Presentación Settlement Feed <i class="fas fa-download"></i></a>
    <br>
    <br><i style="font-size: x-large;" class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/pspompey/simulation" target="_blank">Repositorio Github <i class="fas fa-link"></i></a>

    </fieldset>